/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.nav-collapse li {
  display: block;
}
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}
.nav-collapse.opened {
  max-height: 9999px;
}
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media screen and (min-width:768px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

/* ------------------------------------------
DEMO PAGE'S STYLES
--------------------------------------------- */
.nav-collapse, .nav-collapse * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width:768px) {
  .nav-collapse {
    background-color: rgba(2, 2, 2, 0.21);
  }
}
.nav-collapse, .nav-collapse ul {
  list-style: none;
  width: 100%;
  float: left;
}
@media screen and (max-width:768px) {
  .nav-collapse li {
    float: left;
    width: 100%;
    text-align: center;
  }
}
.nav-toggle {
  width: 70px;
  height: 55px;
  float: right;
  overflow: hidden;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
  /*菜单兰的颜色*/
  color: black;
}