.column-right .right-img:before, .column-right .right-img:after { display: table; content: ""; clear: both; }

.top { position: relative; }

.form .search { width: 70%; height: 40%; border-radius: 30px; position: absolute; top: 30%; left: 15%; }
.form input::-webkit-input-placeholder { text-align: center; color: #D8D8D9; }

.column-left { text-align: center; }

.column-right { background-color: yellow; }

@media (min-width: 300px) { .column-left, input::-webkit-input-placeholder { font-size: 12px; } }
@media (min-width: 350px) { .column-left, input::-webkit-input-placeholder { font-size: 13px; } }
@media (min-width: 400px) { .column-left, input::-webkit-input-placeholder { font-size: 14px; } }
@media (min-width: 450px) { .column-left, input::-webkit-input-placeholder { font-size: 15px; } }
@media (min-width: 500px) { .column-left, input::-webkit-input-placeholder { font-size: 16px; } }

@media (min-width: 300px) { .column-left { font-size: 14px; } }
@media (min-width: 350px) { .column-left { font-size: 15px; } }
@media (min-width: 400px) { .column-left { font-size: 16px; } }
@media (min-width: 450px) { .column-left { font-size: 17px; } }
@media (min-width: 500px) { .column-left { font-size: 18px; } }

.nav .active a { color: #82DBBA; }

.column-right { background-color: #EEEEEE; padding-top: 4%; }
.column-right img { width: 44%; margin-left: 4%; float: left; }
.column-right .right-img { margin-bottom: 4%; position: relative; }
.column-right .right-img .msg1, .column-right .right-img .msg2 { width: 44%; height: 100%; top: 0px; position: absolute; color: #fff; text-align: center; }
@media (min-width: 300px) { .column-right .right-img .msg1, .column-right .right-img .msg2 { font-size: 14px; } }
@media (min-width: 350px) { .column-right .right-img .msg1, .column-right .right-img .msg2 { font-size: 15px; } }
@media (min-width: 400px) { .column-right .right-img .msg1, .column-right .right-img .msg2 { font-size: 16px; } }
@media (min-width: 450px) { .column-right .right-img .msg1, .column-right .right-img .msg2 { font-size: 17px; } }
@media (min-width: 500px) { .column-right .right-img .msg1, .column-right .right-img .msg2 { font-size: 18px; } }
.column-right .right-img .msg1:before, .column-right .right-img .msg2:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
.column-right .right-img .msg1 .text, .column-right .right-img .msg2 .text { display: inline-block; vertical-align: middle; }
.column-right .right-img .msg1 { left: 4%; }
.column-right .right-img .msg2 { left: 52%; }

